# NHS Talking Therapies tidy annual data configuration
# Tidy options: clean_column_names, rename, filter, as_numeric, separate, mutate, pivot_longer, clean_column_values, select
# Rename format: new_name: old_name (use "YYYY-YY"/"YYYY-MM" keys for period-specific renames)
# clean_column_values format: list of {column: name, strip_numbers: true/false}
datasets:
  key_measures_annual:
    clean_column_names: true

    filter:
      org_type:
        - England
        - Commissioning Region
        - STP
        - CCG
        - Provider
      variable_type:
        - Total
        - Age Group
        - Consultation Medium
        - Disability Type
        - Ethnic Group
        - BME Group
        - Indices of Deprivation Decile
        - Long Term Condition Status
        - Mental Health Care Cluster
        - Gender
        - Sexual Orientation Type
        - Problem Descriptor
        - Presenting Complaint
        - Stepped Care Pathway
        - Religion
        - Waiting Time
    
    pivot_longer:
      id_cols:
        - org_type
        - org_code
        - org_name
        - variable_type
        - variable_a
        - variable_b

      measure_cols:
        - count_referrals_received
        - count_finished_course_treatment
        - count_at_caseness
        - count_not_at_caseness
        - count_improvement
        - percentage_improvement
        - count_deterioration
        - percentage_deterioration
        - count_no_reliable_change
        - percentage_no_reliable_change
        - count_reliable_recovery
        - percentage_reliable_recovery
        - count_recovery
        - percentage_recovery

      sep: "^(count|mean|median|percentage|sum)_(.+)$"
      names_to:
        - measure_statistic
        - measure_name

    clean_column_values:
      - column: measure_name
        strip_numbers: false
      - column: measure_statistic
        strip_numbers: false

    select:
      - reporting_period
      - start_date
      - end_date
      - org_type
      - org_code
      - org_name
      - variable_type
      - variable_a
      - variable_b
      - measure_name
      - measure_statistic
      - value

  proms_annual:
    clean_column_names: true

    rename:
      org_type: organisation_type
      org_code: organisation_code
      org_name: organisation_name
      variable_a: diagnosis
      variable_b: therapy_type
      mean_phq_start: start_phq_mean
      sd_phq_start: start_phq_std_dev
      mean_gad_start: start_gad_mean
      sd_gad_start: start_gad_std_dev
      mean_wsas_start: start_wsas_mean
      sd_wsas_start: start_wsas_std_dev
      mean_phq_end: end_phq_mean
      sd_phq_end: end_phq_std_dev
      mean_gad_end: end_gad_mean
      sd_gad_end: end_gad_std_dev
      mean_wsas_end: end_wsas_mean
      sd_end_wsas: end_wsas_std_dev
      effect_size_phq: effect_phq
      effect_size_gad: effect_gad
      effect_size_wsas: effect_wsas

    mutate:
      variable_type:
        value: "PROMs"

    pivot_longer:
      id_cols:
        - org_type
        - org_code
        - org_name
        - variable_a
        - variable_b

      measure_cols:
        - "count_total_finishing_course_treatment"
        - "count_courses_of_therapy"
        - "count_not_caseness"
        - "count_ther_recovery"
        - "percentage_ther_recovery"              
        - "count_ther_rel_recovery"
        - "percentage_ther_rel_recovery"
        - "count_ther_improvement"
        - "percentage_ther_improvement"           
        - "count_ther_deterioration"
        - "percentage_ther_deterioration"
        - "count_ther_no_change"
        - "percentage_ther_no_change"
        - "mean_start_phq"
        - "sd_start_phq"
        - "mean_start_gad"
        - "sd_start_gad"
        - "mean_start_wsas"
        - "sd_start_wsas"
        - "mean_end_phq"
        - "sd_end_phq"
        - "mean_end_gad"
        - "sd_end_gad"
        - "mean_end_wsas"
        - "sd_end_wsas_std"
        - "effect_size_phq"
        - "effect_size_gad"
        - "effect_size_wsas"           

      sep: "^(count|mean|sd|percentage|effect_size)_(.+)$"
      names_to:
        - measure_statistic
        - measure_name
    
    as_numeric:
      - value

    clean_column_values:
      - column: measure_name
        strip_numbers: false
      - column: measure_statistic
        strip_numbers: false

    select:
      - reporting_period
      - start_date
      - end_date
      - org_type
      - org_code
      - org_name
      - variable_type
      - variable_a
      - variable_b
      - measure_name
      - measure_statistic
      - value
