# NHS Talking Therapies tidy monthly data configuration
# Tidy options: clean_column_names, rename, filter, as_numeric, separate, mutate, pivot_longer, clean_column_values, select
# Rename format: new_name: old_name (use "YYYY-YY"/"YYYY-MM" keys for period-specific renames)
# clean_column_values format: list of {column: name, strip_numbers: true/false}
datasets:
  activity_performance_monthly:
    clean_column_names: true

    rename:
      start_date: reporting_period_start
      end_date: reporting_period_end
      value: measure_value_suppressed

    filter:
      group_type:
        - England
        - Commissioning Region
        - Integrated Care Board (ICB)
        - Provider

    as_numeric:
      - value

    separate:
      measure_name:
        into:
          - measure_statistic
          - measure_name
        sep: "^([^_]+)_(.+)$"
        remove: false

    mutate:
      reporting_period:
        source_column: start_date
        function: format
        args:
          format: "%Y-%m"

    clean_column_values:
      - column: measure_name
        strip_numbers: false
      - column: measure_statistic
        strip_numbers: false

    select:
      - reporting_period
      - start_date
      - end_date
      - group_type
      - org_code1
      - org_name1
      - org_code2
      - org_name2
      - measure_id
      - measure_name
      - measure_statistic
      - value
